In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('movie_review_train.csv')

In [3]:
df

     class                                               text
0      Pos   a common complaint amongst film critics is   ...
1      Pos   whew   this film oozes energy   the kind of b...
2      Pos   steven spielberg s   amistad     which is bas...
3      Pos   he has spent his entire life in an awful litt...
4      Pos   being that it is a foreign language film with...
...    ...                                                ...
1595   Neg   if anything     stigmata   should be taken as...
1596   Neg   john boorman s   zardoz   is a goofy cinemati...
1597   Neg   the kids in the hall are an acquired taste   ...
1598   Neg   there was a time when john carpenter was a gr...
1599   Neg   two party guys bob their heads to haddaway s ...

[1600 rows x 2 columns]