In [14]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np, pandas as pd

In [15]:
chu_df=pd.read_csv('churn_data.csv')
cus_df=pd.read_csv('customer_data.csv')
int_df=pd.read_csv('internet_data.csv')

In [16]:
tempo=pd.merge(chu_df,cus_df,how='inner', on='customerID')

In [17]:
df=pd.merge(tempo,int_df,how='inner',on='customerID')
df

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,...,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Female,...,Yes,No,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No,Male,...,No,No,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,Male,...,No,No,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,Male,...,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,Female,...,No,No,No,Fiber optic,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,24,Yes,One year,Yes,Mailed check,84.80,1990.5,No,Male,...,Yes,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes
7039,2234-XADUH,72,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No,Female,...,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes
7040,4801-JZAZL,11,No,Month-to-month,Yes,Electronic check,29.60,346.45,No,Female,...,Yes,Yes,No phone service,DSL,Yes,No,No,No,No,No
7041,8361-LTMKD,4,Yes,Month-to-month,Yes,Mailed check,74.40,306.6,Yes,Male,...,Yes,No,Yes,Fiber optic,No,No,No,No,No,No
7042,3186-AJIEK,66,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No,Male,...,No,No,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes

In [18]:
df['OnlineBackup'].value_counts()

No                     3088
Yes                    2429
No internet service    1526
Name: OnlineBackup, dtype: int64

In [19]:
cols=['PhoneService', 'PaperlessBilling','Churn','Partner','Dependents']

def binary_map(x):
    return x.map({'Yes':1,'No':0})

df[cols]=df[cols].apply(binary_map)

In [20]:
df.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,...,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,1,0,Month-to-month,1,Electronic check,29.85,29.85,0,Female,...,1,0,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,34,1,One year,0,Mailed check,56.95,1889.5,0,Male,...,0,0,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,2,1,Month-to-month,1,Mailed check,53.85,108.15,1,Male,...,0,0,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,45,0,One year,0,Bank transfer (automatic),42.30,1840.75,0,Male,...,0,0,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,2,1,Month-to-month,1,Electronic check,70.70,151.65,1,Female,...,0,0,No,Fiber optic,No,No,No,No,No,No

In [21]:
dumcol=['Contract','PaymentMethod','gender','InternetService']
dummies=pd.get_dummies(df[dumcol],drop_first=True)
dummies.head()

,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,gender_Male,InternetService_Fiber optic,InternetService_No
0,0,0,0,1,0,0,0,0
1,1,0,0,0,1,1,0,0
2,0,0,0,0,1,1,0,0
3,1,0,0,0,0,1,0,0
4,0,0,0,1,0,0,1,0

In [22]:
df=pd.concat([dummies,df], axis=1)

In [23]:
Acc = .78
Sen = .75
Spc = .80

FPR=.33
PPV=.55
NPV=.66

# ROC Curve

In [24]:
roc=pd.read_excel('ROC+Curve+-+Excel+Demo.xlsx')

In [26]:
roc['predicted']=roc['Churn_Prob'].apply(lambda X: 1 if X > 0.5 else 0)

In [27]:
roc.head()

,CustID,Churn,Churn_Prob,Predicted_Churn,Unnamed: 4,Unnamed: 5,Unnamed: 6,Cutoff,TPR = TP / P,FPR = FP / N,Unnamed: 10,Positives / churn / 1,1287,predicted
0,6089,1,0.86596,1,NaN,NaN,NaN,0,1,1,NaN,Negatives / non-churn / 0,3635.000000,1
1,4800,1,0.86596,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Churn rate,0.261479,1
2,3380,1,0.86596,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,1976,1,0.86596,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,1600,1,0.86596,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [28]:
roc.predicted.value_counts()

0    3864
1    1058
Name: predicted, dtype: int64

In [32]:
TP5=1050
TN5=1200
FN5=350
FP5=400
cut=.5

TP4=1190
TN4=1200
FN4=350-140
FP4=400


print('diff in .5 and .4 : ',TP5/(TP5+FN5) - TP4/(TP4+FN4))
print('precision:',TP5/(TP5+FP5),' recall:',TP5/(FN5+TP5))

diff in .5 and .4 :  -0.09999999999999998
precision: 0.7241379310344828  recall: 0.75