In [24]:
import pandas as pd
import math
import numpy as np

In [2]:
# create dataframe from Inferential Statistics - Student Loan.csv using pandas

df = pd.read_csv("Inferential Statistics - Student Loan.csv")

# print the first 5 rows of the dataframe

In [3]:
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5
0,1,11.50,20.00%,0.0070,NaN,NaN
1,2,0.24,5.10%,0.0033,NaN,NaN
2,3,0.04,24.86%,0.0022,NaN,NaN
3,4,13.81,2.29%,0.0066,NaN,NaN
4,5,19.84,3.47%,0.0020,NaN,NaN

In [5]:
df.info()
#df['pl'] = df['Exposure at Default (in lakh Rs.)'] * df['Probability of Default'] * (1-df['Recovery (%)'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer No.                       10000 non-null  int64
 1   Exposure at Default (in lakh Rs.)  10000 non-null  float64
 2   Recovery (%)                       10000 non-null  object
 3   Probability of Default             10000 non-null  float64
 4   Unnamed: 4                         0 non-null      float64
 5   Unnamed: 5                         0 non-null      float64
dtypes: float64(4), int64(1), object(1)
memory usage: 468.9+ KB

In [6]:
df['Recovery (%)']=df['Recovery (%)'].apply(lambda x: x.replace('%',''))

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer No.                       10000 non-null  int64
 1   Exposure at Default (in lakh Rs.)  10000 non-null  float64
 2   Recovery (%)                       10000 non-null  object
 3   Probability of Default             10000 non-null  float64
 4   Unnamed: 4                         0 non-null      float64
 5   Unnamed: 5                         0 non-null      float64
dtypes: float64(4), int64(1), object(1)
memory usage: 468.9+ KB

In [14]:

df['Recovery (%)'] = df['Recovery (%)'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer No.                       10000 non-null  int64
 1   Exposure at Default (in lakh Rs.)  10000 non-null  float64
 2   Recovery (%)                       10000 non-null  float64
 3   Probability of Default             10000 non-null  float64
 4   Unnamed: 4                         0 non-null      float64
 5   Unnamed: 5                         0 non-null      float64
dtypes: float64(5), int64(1)
memory usage: 468.9 KB

In [18]:
df['pl'] = df['Exposure at Default (in lakh Rs.)'] * df['Probability of Default'] * (100-df['Recovery (%)'])

In [19]:
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5,pl
0,1,11.50,20.00,0.0070,NaN,NaN,6.440000
1,2,0.24,5.10,0.0033,NaN,NaN,0.075161
2,3,0.04,24.86,0.0022,NaN,NaN,0.006612
3,4,13.81,2.29,0.0066,NaN,NaN,8.905876
4,5,19.84,3.47,0.0020,NaN,NaN,3.830310

In [21]:
df['pl'].sum()

49339.131440619996

In [13]:

# read datframe from Inferntial Statistics - UpGrad Samples.csv

df = pd.read_csv("Inferntial Statistics - UpGrad Samples.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sample No.   100 non-null    int64
 1   Sample Mean  100 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 1.7 KB

In [18]:
mean = df['Sample Mean'].sum() / (df.shape[0])

In [19]:
df['var'] = (mean - df['Sample Mean']) ** 2

In [20]:
df

    Sample No.  Sample Mean       var
0            1          3.2  0.725904
1            2          2.6  0.063504
2            3          2.8  0.204304
3            4          2.0  0.121104
4            5          3.0  0.425104
..         ...          ...       ...
95          96          2.6  0.063504
96          97          1.8  0.300304
97          98          2.4  0.002704
98          99          2.4  0.002704
99         100          2.6  0.063504

[100 rows x 3 columns]

In [22]:
varMean = df['var'].sum() / df.shape[0]

In [23]:
import math
sd = math.sqrt(varMean)
print(sd)

0.4248482081873478

In [26]:
# read dataframe from Inferential Statistics - Powai Flats Rent.csv


import pandas as pd

df = pd.read_csv("Inferential Statistics - Powai Flats Rent.csv")

df.shape
df.head(10)

   S. No.  Monthly Rent
0       1         44000
1       2         49800
2       3         45400
3       4         40700
4       5         43900
5       6         46400
6       7         31000
7       8         45000
8       9         37300
9      10         42900

In [30]:
mean = df['Monthly Rent'].sum()/df['Monthly Rent'].count()
df['variance'] = (df['Monthly Rent'] - mean)**2

In [31]:
df

     S. No.  Monthly Rent     variance
0         1         44000    2468041.0
1         2         49800   17884441.0
2         3         45400      29241.0
3         4         40700   23726641.0
4         5         43900    2792241.0
..      ...           ...          ...
195     196         49800   17884441.0
196     197         51900   40056241.0
197     198         55700  102596641.0
198     199         45800      52441.0
199     200         59500  194017041.0

[200 rows x 3 columns]

In [34]:

varMean=math.sqrt(df['variance'].sum()/len(df['variance']))

In [35]:
print(mean)
print(varMean)

45571.0
7438.854683350119

In [36]:
me=1.645*varMean/math.sqrt(200)
print(mean-me)
print(mean+me)

44705.71937480383
46436.28062519617

X = 45571.0
VarMean = 7438.854683350119 which is S actually
S=7457
S=varianceMean.sum()/(n-1)

In [44]:
S= math.sqrt(df['variance'].sum()/199)
print(S)

7457.521851178448

In [47]:
#should be divided my n-1
me=2.576*S/math.sqrt(199)
print(mean-me)
print(mean+me)

44209.19835316074
46932.80164683926

In [51]:
me95=1.960*S/math.sqrt(199)
print(mean-me95,mean+me95)

44534.84657305708 46607.15342694292

(200, 3)