In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#from google.colab import files
#uploaded = files.upload()

In [6]:
import io
train = pd.read_csv('train_clean.csv')

In [7]:
train.head(2)

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Title,Family_Size
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,Mr,1
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,Mrs,1

In [8]:
train["Title"].unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Rev', 'Dr'], dtype=object)

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          891 non-null    float64
 1   Cabin        204 non-null    object
 2   Embarked     891 non-null    object
 3   Fare         891 non-null    float64
 4   Name         891 non-null    object
 5   Parch        891 non-null    int64
 6   PassengerId  891 non-null    int64
 7   Pclass       891 non-null    int64
 8   Sex          891 non-null    object
 9   SibSp        891 non-null    int64
 10  Survived     891 non-null    float64
 11  Ticket       891 non-null    object
 12  Title        891 non-null    object
 13  Family_Size  891 non-null    int64
dtypes: float64(3), int64(5), object(6)
memory usage: 97.6+ KB

In [10]:
train.isnull().mean()

Age            0.000000
Cabin          0.771044
Embarked       0.000000
Fare           0.000000
Name           0.000000
Parch          0.000000
PassengerId    0.000000
Pclass         0.000000
Sex            0.000000
SibSp          0.000000
Survived       0.000000
Ticket         0.000000
Title          0.000000
Family_Size    0.000000
dtype: float64

In [11]:
train=train.drop(["Cabin"],axis=1)

In [12]:
train=train.drop(["PassengerId","Name","Ticket"],axis=1)

In [13]:
dummy=['Embarked', 'Parch', 'Pclass', 'SibSp', "Title",'Family_Size']

In [14]:
for i in dummy:
  train[i]=train[i].astype(object)

In [15]:
dum=pd.get_dummies(train[dummy],drop_first=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_3100\3606712544.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  dum=pd.get_dummies(train[dummy],drop_first=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_3100\3606712544.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  dum=pd.get_dummies(train[dummy],drop_first=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_3100\3606712544.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  dum=pd.get_dummies(train[dummy],drop_first=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_3100\3606712544.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  dum=pd.get_dummies(train[dummy],drop_first=True)

In [16]:
df=pd.concat([train,dum],axis=1)

In [17]:
df=df.drop(dummy,axis=1)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             891 non-null    float64
 1   Fare            891 non-null    float64
 2   Sex             891 non-null    object
 3   Survived        891 non-null    float64
 4   Embarked_Q      891 non-null    uint8
 5   Embarked_S      891 non-null    uint8
 6   Parch_1         891 non-null    uint8
 7   Parch_2         891 non-null    uint8
 8   Parch_3         891 non-null    uint8
 9   Parch_4         891 non-null    uint8
 10  Parch_5         891 non-null    uint8
 11  Parch_6         891 non-null    uint8
 12  Pclass_2        891 non-null    uint8
 13  Pclass_3        891 non-null    uint8
 14  SibSp_1         891 non-null    uint8
 15  SibSp_2         891 non-null    uint8
 16  SibSp_3         891 non-null    uint8
 17  SibSp_4         891 non-null    uint8
 18  SibSp_5         891 non-null    uint8
 19  SibSp_8         891 non-null    uint8
 20  Title_Master    891 non-null    uint8
 21  Title_Miss      891 non-null    uint8
 22  Title_Mr        891 non-null    uint8
 23  Title_Mrs       891 non-null    uint8
 24  Title_Rev       891 non-null    uint8
 25  Family_Size_1   891 non-null    uint8
 26  Family_Size_2   891 non-null    uint8
 27  Family_Size_3   891 non-null    uint8
 28  Family_Size_4   891 non-null    uint8
 29  Family_Size_5   891 non-null    uint8
 30  Family_Size_6   891 non-null    uint8
 31  Family_Size_7   891 non-null    uint8
 32  Family_Size_10  891 non-null    uint8
dtypes: float64(3), object(1), uint8(29)
memory usage: 53.2+ KB

In [19]:
df["Sex"]=df["Sex"].map({"male":1,"female":0})

In [20]:
X=df.drop(["Survived"],axis=1)
y=df["Survived"]

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=100)

In [22]:
X_train.shape

(712, 32)

In [23]:
X_test.shape

(179, 32)

In [24]:
## Neural Network Building

In [25]:
from keras.models import Sequential
from keras.layers import Dense,Activation, Dropout

In [26]:
model=Sequential()
model.add(Dense(units=32,activation='relu'))
model.add(Dense(units=64,activation='relu'))
model.add(Dense(units=128,activation='relu'))
model.add(Dense(units=256,activation='relu'))
model.add(Dense(units=1,activation='sigmoid'))

In [27]:
model.compile(optimizer="adam",loss='binary_crossentropy',metrics=['AUC'])

In [28]:
print("No. of Batches:",712//16+1)

No. of Batches: 45

In [29]:
history=model.fit(X_train,y_train,batch_size=16,epochs=20)

Epoch 1/20

45/45 [==============================] - 5s 8ms/step - loss: 0.7141 - auc: 0.6767
Epoch 2/20
45/45 [==============================] - 0s 6ms/step - loss: 0.6106 - auc: 0.7235
Epoch 3/20
45/45 [==============================] - 0s 7ms/step - loss: 0.5559 - auc: 0.7767
Epoch 4/20
45/45 [==============================] - 0s 7ms/step - loss: 0.5477 - auc: 0.7858
Epoch 5/20
45/45 [==============================] - 0s 7ms/step - loss: 0.5518 - auc: 0.7787
Epoch 6/20
45/45 [==============================] - 0s 8ms/step - loss: 0.4783 - auc: 0.8420
Epoch 7/20
45/45 [==============================] - 0s 9ms/step - loss: 0.5085 - auc: 0.8195
Epoch 8/20
45/45 [==============================] - 0s 7ms/step - loss: 0.4840 - auc: 0.8359
Epoch 9/20
45/45 [==============================] - 0s 7ms/step - loss: 0.4661 - auc: 0.8475
Epoch 10/20
45/45 [==============================] - 0s 7ms/step - loss: 0.5129 - auc: 0.8177
Epoch 11/20
45/45 [==============================] - 0s 7ms/step - loss: 0.4641 - auc: 0.8514
Epoch 12/20
45/45 [==============================] - 0s 7ms/step - loss: 0.4428 - auc: 0.8609
Epoch 13/20
45/45 [==============================] - 0s 7ms/step - loss: 0.4397 - auc: 0.8580
Epoch 14/20
45/45 [==============================] - 0s 7ms/step - loss: 0.4296 - auc: 0.8607
Epoch 15/20
45/45 [==============================] - 0s 9ms/step - loss: 0.4409 - auc: 0.8540
Epoch 16/20
45/45 [==============================] - 0s 10ms/step - loss: 0.4529 - auc: 0.8591
Epoch 17/20
45/45 [==============================] - 0s 7ms/step - loss: 0.4273 - auc: 0.8701
Epoch 18/20
45/45 [==============================] - 0s 7ms/step - loss: 0.4267 - auc: 0.8627
Epoch 19/20
45/45 [==============================] - 0s 7ms/step - loss: 0.4196 - auc: 0.8686
Epoch 20/20
45/45 [==============================] - 0s 8ms/step - loss: 0.4022 - auc: 0.8741

In [30]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, model.predict(X_test))

6/6 [==============================] - 0s 3ms/step

0.8523717948717949